In [1]:
import mysql.connector 

conn = mysql.connector.connect(host="localhost",
            user="root",
            password="",
            database="miraj_")

cur=conn.cursor()

In [2]:
#creating the table
#cur.execute("CREATE TABLE student (age int, name varchar(30))")

In [3]:
cur.execute("INSERT INTO student (age,name) values (20, 'miraj')")

In [6]:
#taking the input from the user 
age_= int(input("Enter your age"))
name_= input("Enter your name")

sql=f'''Insert into student (age,name) values ({age_},'{name_}')'''
cur.execute(sql)
conn.commit()

Enter your age20
Enter your nameapil

In [9]:
#updating the value
sql=f'''UPDATE student SET age=40 WHERE name='miraj' '''
cur.execute(sql)
conn.commit()

In [10]:
# deleting the value
sql=f'''DELETE FROM student WHERE name='miraj' '''
cur.execute(sql)
conn.commit()

In [17]:
cur.execute('''Select * from student''')

InternalError: Unread result found